# Rails
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/public/assets

# Credentials / secrets
/config/master.key
.env*

# Editor / OS
.DS_Store
.byebug_history

# Node / Yarn (si tu les ajoutes un jour)
/node_modules
/yarn-error.log

# VSCode config (si tu bosses seul)
.vscode/

# Importmap lock (rare mais possible)
/config/importmap.rb.lock
