<h1>Nos produits</h1>

<div class="produits">
  <% @produits.each do |produit| %>
    <div class="produit-card">
      <% if produit.image.attached? %>
        <%= image_tag produit.image.variant(resize_to_limit: [300, 300]), alt: produit.name %>
      <% else %>
        <p>Image non disponible</p>
      <% end %>

      <h2><%= produit.name %></h2>
      <p><strong>Prix :</strong> <%= number_to_currency(produit.price, unit: "€") %></p>

      <%= link_to 'Voir le produit', produit_path(produit), class: "btn" %>
    </div>
  <% end %>
</div>
