.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: background 0.3s;

  &-panier {
    background-color: $color-primary;
    color: white;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  &-back {
    background: none;
    border: 1px solid $color-light;
    color: $color-light;

    &:hover {
      background-color: $color-light;
      color: $color-dark;
    }
  }

  &-commander {
    background-color: $color-acier;
    color: white;

    &:hover {
      background-color: lighten($color-acier, 10%);
    }
  }
}
