.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: background 0.3s;

  &-panier {
    background-color: $color-primary;
    color: white;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  &-back {
    background: none;
    border: 1px solid $color-light;
    color: $color-light;

    &:hover {
      background-color: $color-light;
      color: $color-dark;
    }
  }

  &-commander {
    background-color: $color-acier;
    color: white;

    &:hover {
      background-color: lighten($color-acier, 10%);
    }
  }
}


.produits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.produit-card {
  background-color: $color-acier;
  border: 1px solid $color-dark;
  border-radius: $radius;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}

.produit-image {
  max-height: 180px;
  object-fit: cover;
  width: 100%;
  border-radius: $radius;
  margin-bottom: 1rem;
}
